<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🗝 Members Only</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../public/styles/general.css" />
    <link rel="stylesheet" href="../public/styles/userNav.css" />
    <link rel="stylesheet" href="../public/styles/home.css" />

    <script src="../public/script/dropdownFunctionalities.js" defer></script>
  </head>
  <body>
    <%- include('homeNav.ejs', user) %>

    <main>
      <% if (!isMember) { %>
      <div class="join-members">
        To see usernames, you need to <a href="#">join our membership</a> first.
      </div>
      <% } %>

      <div class="posts">
        <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
        <div class="post">
          <div class="profile">
            <div class="image">
              <img src="../public/uploads/<%=post.image%>" />
            </div>
            <div>
              <% if (isMember) { %>
              <p><%= post.username %></p>
              <% } else { %>
              <p>@********</p>
              <% } %>
              <p class="time"><%=postsTimeTracker[post.postid]%></p>
            </div>
          </div>
          <h2><%=post.title%></h2>
          <p><%=post.content%></p>
        </div>
        <%})%> <% } else { %>
        <!-- Code to be executed if the condition is false -->
        <h1>Welcome To the Homepage <%= user.firstname %></h1>
        <% } %>
      </div>
    </main>

    <footer>
      Kabera Nshuti Samuel &copy; 2025
      <a target="_blank" href="https://github.com/KaberaSamuel/members-only"
        ><i class="fa-brands fa-github"></i
      ></a>
    </footer>
  </body>
</html>
